.top {
    background-color: #E4F9F5;
    padding: 20px;
    height: 200px;
    width: 200px;
    border: 10px solid;
}
body {
    margin: 0;
}
h1 {
    margin-top: 0;
}
.middle {
    background-color: red;
    height: 200px;
    width: 200px;
    border: 20px solid;
    margin-left: 260px;
}
.bottom {
    background-color: yellow;
    height: 200px;
    width: 200px;
    border: 10px solid;
    margin-left: 500px;
}